/*
top of page > end of page
> media queries 
> keyframes
*/
#flyingPlane {
  display: flex;
  position: absolute;
  z-index: 110;
  -webkit-animation: fly 20s infinite linear;
  animation: fly 20s infinite linear;
}
#flyingPlane .plane {
  width: 100px;
  height: 52.1px;
}
#flyingPlane .banner {
  background-color: white;
  white-space: nowrap;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#flyingPlane .line {
  width: 50px;
  height: 0;
  margin-top: 14px;
  margin-right: -5px;
  border: 1.5px solid #707070;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#HomeTimeLine {
  font-size: 1.28571429em;
}
#HomeTimeLine .q-timeline__subtitle {
  margin: 0;
}
#MainImg,
#MainImgOverlay {
  background: url(../img/bagan-1137015_1280.jpg) center fixed;
  width: 100%;
  height: 90vh;
  background-size: cover;
  z-index: -2;
  position: absolute;
  left: 0;
}
#MainImgOverlay {
  background: #b5ac88;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#MainImgPlacholder {
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#MainImgPlacholder .main-qoute {
  font-size: 3.57142857em;
  z-index: 100;
  color: white;
  padding: 0 10% 0 10%;
  margin-top: 0;
  font-weight: bold;
}
#MainImgPlacholder .quote-subtext {
  font-size: 2.14285714em;
  z-index: 100;
  color: #fff;
  font-weight: 400;
}
#MainImgPlacholder .main-search-bar {
  width: 100%;
  height: 50px;
  font-size: 2.14285714em;
  padding-left: 10px;
  max-width: 552px;
}
#MainImgPlacholder .main-search-bar > div {
  background-color: white;
}
#MainImgPlacholder .scroll-down-icon {
  height: 100px;
  color: white;
  -webkit-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.description-container {
  font-family: Raleway;
  font-size: 1.28571429em;
  margin-bottom: 80px;
  margin-top: 40px;
  margin-left: 17px;
  padding-left: 16px;
  border-left: #D56026 solid;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .description-container {
    opacity: 0;
  }
  .description-container.in-viewport {
    -webkit-animation: fadeInLeft 0.7s ease-in both;
    animation: fadeInLeft 0.7s ease-in both;
  }
}
.description-container a {
  text-decoration: underline;
}
.description-container p {
  margin: 5px;
}
#OfferContainer {
  width: 100%;
  color: white;
  margin-top: 100px;
}
#OfferContainer > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.28571429em;
  width: 50%;
  align-items: center;
  padding: 10px;
}
#OfferContainer > div button {
  max-width: 522px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.28571429em;
  margin-top: 10px;
  opacity: 0;
  -webkit-animation: fadeInUp 0.7s ease-in both;
  animation: fadeInUp 0.7s ease-in both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.card-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 50px 0;
}
.card-container .card-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.card-container .card-wrap.left {
  justify-content: flex-start;
}
.card-container .card-wrap.right {
  justify-content: flex-end;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .card-container .card-wrap {
    opacity: 0;
  }
  .card-container .card-wrap.in-viewport {
    -webkit-animation: fadeInUp 0.7s ease-in both;
    animation: fadeInUp 0.7s ease-in both;
  }
  .card-container .card-wrap.in-viewport:nth-child(1) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .card-container .card-wrap.in-viewport:nth-child(2) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .card-container .card-wrap.in-viewport:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}
.card-container .card-wrap .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px 50px 10px;
  background-color: white;
  transition: 0.6s;
  color: #707070;
  text-decoration: none;
}
.card-container .card-wrap .card:hover {
  color: #707070;
  transform: scale(1.1);
}
.card-container .card-wrap .card h3 {
  font-size: 2.14285714em;
  font-weight: normal;
  margin-bottom: 5px;
}
.card-container .card-wrap .card span {
  font-size: 1.28571429em;
}
.card-container .card-wrap .card #PortugalImg {
  background-image: url(../img/portugal.jpeg);
}
.card-container .card-wrap .card #BaliImg {
  background-image: url(../img/bali.jpeg);
}
.card-container .card-wrap .card #ItalyImg {
  background-image: url(../img/venice.jpeg);
}
.card-container .card-wrap .card div {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.card-container .card-wrap .card .q-icon {
  font-size: 80px;
  color: #D56026;
}
.section-img {
  background: center fixed url(../img/venice.jpeg);
  background-size: cover;
  height: 500px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;
}
.section-img-placeholder {
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 10% 0 10%;
  font-size: 2.14285714em;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .section-img-placeholder button {
    opacity: 0;
  }
  .section-img-placeholder button.in-viewport {
    -webkit-animation: fadeInUp 0.7s ease-in both;
    animation: fadeInUp 0.7s ease-in both;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
}
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.create-roundtrip-ol {
  font-family: Raleway;
}
.create-roundtrip-ol h2 {
  font-size: 2.14285714em;
  line-height: normal;
  text-align: left;
}
.create-roundtrip-ol p {
  font-size: 1.28571429em;
  line-height: normal;
}
.create-roundtrip-ol > li {
  font-family: Raleway;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .create-roundtrip-ol > li {
    opacity: 0;
  }
  .create-roundtrip-ol > li.in-viewport {
    -webkit-animation: fadeInUp 0.7s ease-in both;
    animation: fadeInUp 0.7s ease-in both;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
}
.create-roundtrip-ol > li > div:nth-child(2) {
  justify-content: center;
  display: flex;
  width: 100%;
}
.create-roundtrip-ol > li::marker {
  font-size: 2.14285714em;
  font-family: Raleway;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 0px) and (max-width: 719px) {
  .card-container {
    flex-wrap: wrap;
    padding: 10px 0 30px 0;
  }
  .card-container .card-wrap {
    justify-content: center !important;
  }
  .card-container .card-wrap .card {
    margin-bottom: 30px;
  }
  .card-container .card-wrap .card:hover {
    transform: unset;
  }
  #MainImgPlacholder .main-qoute {
    font-size: 24px;
    line-height: 2;
  }
  #MainImgPlacholder .quote-subtext {
    display: none;
  }
  #MainImgPlacholder button {
    font-size: 15px !important;
  }
  #OfferContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  #OfferContainer > div:nth-child(2) {
    margin-top: 30px;
    border-top: solid 1px;
    padding-top: 30px;
  }
  .section-img-placeholder h3 {
    font-size: 1.28571429em;
  }
  h4 {
    padding: 0 5px 0 5px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 719px) {
  #OfferContainer > div {
    width: 100%;
  }
  #OfferContainer > div:nth-child(2) {
    display: none;
  }
}
@-webkit-keyframes jump {
  0% {
    padding-top: 30px;
    font-size: 3.57142857em;
  }
  50% {
    padding-top: 90px;
    font-size: 55px;
  }
  100% {
    padding-top: 30px;
    font-size: 3.57142857em;
  }
}
@keyframes jump {
  0% {
    padding-top: 30px;
    font-size: 3.57142857em;
  }
  50% {
    padding-top: 90px;
    font-size: 55px;
  }
  100% {
    padding-top: 30px;
    font-size: 3.57142857em;
  }
}
@-webkit-keyframes fly {
  0% {
    padding-top: 30px;
    left: -355px;
  }
  10% {
    padding-top: 40px;
  }
  20% {
    padding-top: 10px;
  }
  50% {
    padding-top: 30px;
    left: 80%;
  }
  60% {
    padding-top: 30px;
    left: 105%;
  }
  100% {
    padding-top: 30px;
    left: 105%;
  }
}
@keyframes fly {
  0% {
    padding-top: 30px;
    left: -355px;
  }
  10% {
    padding-top: 40px;
  }
  20% {
    padding-top: 10px;
  }
  50% {
    padding-top: 30px;
    left: 80%;
  }
  60% {
    padding-top: 30px;
    left: 105%;
  }
  100% {
    padding-top: 30px;
    left: 105%;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-90%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-90%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/*# sourceMappingURL=22.4fda0c5c.css.map*/