/*global styles*/
/*import global files*/
/*global fonts*/
/*global colors*/
/*global media queries*/
/*primary styles*/
body {
  color: #707070;
  font-family: Segoe UI;
}
footer {
  background-color: #707070;
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 10px 0 30px 0;
}
footer .left-footer-col {
  width: 20%;
  padding-left: 20px;
}
footer .footer-link:hover {
  color: white;
}
footer .contact-link-box {
  display: flex;
  flex-direction: column;
}
footer .right-footer-col {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-right: 20px;
}
footer .right-footer-col div {
  display: flex;
  flex-direction: column;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #D56026;
}
button,
.button {
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 2px white;
  color: white;
  font-size: 25px;
  padding: 5px 10px 5px 10px;
  transition: 0.4s;
}
button:hover,
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: white;
}
font-awesome-icon {
  margin: auto;
}
/*Header*/
#Header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80px;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;
  transition: 1s;
  flex-direction: column;
}
#Header .top-row {
  display: flex;
  justify-content: space-between;
}
#Header .top-row div {
  width: 100%;
}
#Header .top-row .header-page-link {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
  position: relative;
  margin: 10px 0;
  padding: 1px 10px;
  color: #707070;
}
#Header .top-row .header-page-link:hover {
  color: #D56026;
}
#Header .top-row .header-page-link::after {
  content: "";
  background: #D56026;
  height: 1px;
  position: absolute;
  bottom: 0;
  transition: 0.16s all 0.025s;
}
#Header .top-row .header-page-link::after {
  right: 100%;
  left: 0;
}
#Header .top-row .header-page-link:hover ~ #Header .top-row .header-page-link::after {
  right: 0;
  left: 100%;
}
#Header .top-row .header-page-link:hover::after {
  left: 0;
  right: 0;
}
#Header .top-row .center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 80px;
}
#Header .top-row .center-col img {
  height: 60px;
}
#Header .top-row .left-col {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-height: 80px;
}
#Header .top-row .left-col img {
  height: 60px;
}
#Header .top-row .right-col {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  max-height: 80px;
}
#Header .top-row .right-col #BurgerMenu {
  width: auto;
  display: none;
}
#Header .top-row .right-col #BurgerMenu .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#Header .top-row .right-col #BurgerMenu .hamRotate.active {
  transform: rotate(45deg);
}
#Header .top-row .right-col #BurgerMenu .hamRotate180.active {
  transform: rotate(180deg);
}
#Header .top-row .right-col #BurgerMenu .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D56026;
  stroke-width: 2px;
  stroke-linecap: round;
}
#Header .top-row .right-col #BurgerMenu .ham7 .top {
  stroke-dasharray: 40 82;
}
#Header .top-row .right-col #BurgerMenu .ham7 .middle {
  stroke-dasharray: 40 111;
}
#Header .top-row .right-col #BurgerMenu .ham7 .bottom {
  stroke-dasharray: 40 161;
}
#Header .top-row .right-col #BurgerMenu .ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
#Header .top-row .right-col #BurgerMenu .ham7.active .middle {
  stroke-dashoffset: 23px;
}
#Header .top-row .right-col #BurgerMenu .ham7.active .bottom {
  stroke-dashoffset: -83px;
}
#Header .bottom-row {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  overflow: hidden;
}
#Header .bottom-row .mobile-header-page-link {
  display: flex;
  opacity: 0;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: #707070;
  transition: 1s;
}
#Header .bottom-row .mobile-header-page-link:hover {
  color: #D56026;
}
#Header.active {
  height: 200px;
}
#Header.active .mobile-header-page-link {
  opacity: 1;
}
#HeaderPlaceholder {
  height: 80px;
  width: 100px;
}
.active {
  color: #D56026;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 0px) and (max-width: 719px) {
  .right-col {
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
  }
  .right-col .header-page-link {
    margin: 0;
  }
  #BurgerMenu {
    display: block !important;
  }
  .header-page-link {
    display: none !important;
  }
  footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  footer .right-footer-col {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 719px) {
  .center-col img {
    display: none;
  }
}
/*top of page > end of page*/
#MainImg,
#MainImgOverlay {
  background: url('../assets/laos.jpg') center fixed;
  width: 100%;
  height: 90vh;
  background-size: cover;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 80px;
}
#MainImgOverlay {
  background: #b5ac88;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#MainImgPlacholder {
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#MainImgPlacholder .main-qoute {
  font-size: 50px;
  z-index: 100;
  color: white;
  padding: 0 10% 0 10%;
}
#MainImgPlacholder .quote-author {
  font-size: 30px;
  font-style: italic;
  z-index: 100;
  color: white;
}
#MainImgPlacholder .main-search-bar {
  width: 60%;
  height: 50px;
  margin-top: 50px;
  font-size: 30px;
  padding-left: 10px;
}
.box-seperator {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.box-seperator-placholder {
  height: 110px;
}
.card-container {
  display: flex;
  justify-content: center;
  padding: 40px 0 100px 0;
}
.card-container .card-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-container .card-wrap.left {
  justify-content: flex-end;
}
.card-container .card-wrap.right {
  justify-content: flex-start;
}
.card-container .card-wrap .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px 50px 10px;
  background-color: white;
  transition: 0.6s;
  color: #707070;
}
.card-container .card-wrap .card:hover {
  color: #707070;
  transform: scale(1.1);
}
.card-container .card-wrap .card h3 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}
.card-container .card-wrap .card span {
  font-size: 18px;
}
.card-container .card-wrap .card #VietnamImg {
  background-image: url('../assets/vietnam.jpg');
}
.card-container .card-wrap .card #USAImg {
  background-image: url('../assets/goldenGate.jpg');
}
.card-container .card-wrap .card #ItalyImg {
  background-image: url('../assets/venice.jpg');
}
.card-container .card-wrap .card div {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.section-img {
  background: url('../assets/venice.jpg') center fixed;
  background-size: cover;
  height: 400px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;
}
.section-img-placeholder {
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 10% 0 10%;
  font-size: 30px;
}
@media only screen and (min-width: 720px) and (max-width: 959px), only screen and (min-width: 0px) and (max-width: 719px) {
  .card-container {
    flex-wrap: wrap;
    padding: 10px 0 30px 0;
  }
  .card-container .card-wrap {
    justify-content: center !important;
  }
  .card-container .card-wrap .card {
    margin-bottom: 30px;
  }
  #MainImgPlacholder .main-qoute {
    font-size: 30px;
  }
  .section-img-placeholder {
    font-size: 20px;
  }
}