/*global styles*/

/*import global files*/
@import "colors.less";
@import "fonts.less";

/*global media queries*/
@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile: ~"only screen and (min-width: 0px) and (max-width: 719px)";

/*primary styles*/

body {
    color: @primary-gray;
    font-family: @primary-font;
}

footer {
    background-color: @primary-gray;
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px 0 30px 0;

    .left-footer-col {
        width: 20%;
        padding-left: 20px;
    }

    .footer-link:hover {
        color: white;
    }

    .contact-link-box {
        display: flex;
        flex-direction: column;
    }

    .right-footer-col {
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-right: 20px;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: @primary-orange;
    }
}

button, .button {
    background-color: rgba(0, 0, 0, 0.25);
    border: solid 2px white;
    color: white;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    transition: 0.4s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: white;
    }
}

font-awesome-icon {
    margin: auto;
}

/*Header*/
#Header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80px;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1000;
    transition: 1s;
    flex-direction: column;

    .top-row {
        display: flex;
        justify-content: space-between;


        div {
            width: 100%;
        }

        .header-page-link {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 0.3s;
            text-decoration: none;
            position: relative;
            margin: 10px 0;
            padding: 1px 10px;
            color: @primary-gray;

            &:hover {
                color: @primary-orange;
            }

            &::after {
                content: "";
                background: @primary-orange;
                height: 1px;
                position: absolute;
                bottom: 0;
                transition: .16s all 0.025s;
            }

            &::after {
                right: 100%;
                left: 0;
            }

            &:hover ~ &::after {
                right: 0;
                left: 100%;
            }

            &:hover::after {
                left: 0;
                right: 0;
            }
        }

        .center-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            max-height: 80px;

            img {
                height: 60px;
            }
        }

        .left-col {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            max-height: 80px;

            img {
                height: 60px;
            }
        }

        .right-col {
            display: flex;
            justify-content: space-around;
            padding-right: 20px;
            max-height: 80px;



            #BurgerMenu {
                width: auto;
                display: none;

                .ham {
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;
                    transition: transform 400ms;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .hamRotate.active {
                    transform: rotate(45deg);
                }

                .hamRotate180.active {
                    transform: rotate(180deg);
                }

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                    stroke: @primary-orange;
                    stroke-width: 2px;
                    stroke-linecap: round;
                }

                .ham7 .top {
                    stroke-dasharray: 40 82;
                }

                .ham7 .middle {
                    stroke-dasharray: 40 111;
                }

                .ham7 .bottom {
                    stroke-dasharray: 40 161;
                }

                .ham7.active .top {
                    stroke-dasharray: 17 82;
                    stroke-dashoffset: -62px;
                }

                .ham7.active .middle {
                    stroke-dashoffset: 23px;
                }

                .ham7.active .bottom {
                    stroke-dashoffset: -83px;
                }
            }
        }
    }


    .bottom-row {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        overflow:hidden;

        .mobile-header-page-link {
            display:flex;
            opacity:0;
            text-transform: uppercase;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            color: @primary-gray;
            transition:1s;

            &:hover {
                color: @primary-orange;
            }
        }
    }

    &.active {
        height: 200px;

        .mobile-header-page-link {
            opacity:1;
        }
    }
}

#HeaderPlaceholder {
    height: 80px;
    width: 100px;
}

.active {
    color: @primary-orange;
}

@media @tablet, @mobile {
    .right-col {
        flex-direction: column;
        text-align: left;
        align-items: flex-end;

        .header-page-link {
            margin: 0;
        }
    }

    #BurgerMenu {
        display: block !important;
    }

    .header-page-link {
        display: none !important;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;

        .right-footer-col {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }
}

@media @mobile {
    .center-col {
        img {
            display: none;
        }
    }
}
