   @import (reference) "./imports.less";

   .city-suggestion {
       .city-card {
           width: 200px;
           margin: 10px;
           display: flex;
           flex-direction: column;
           justify-content: space-between;

           a {
               color: white;
               text-decoration: none;
           }

           .city-info {
               position: absolute;
               top: -15px;
               z-index: 1;
               right: -17px;
           }
       }
   }

   .cards-container {
       justify-content: center;
   }