   @import (reference) "./imports.less";

   .city-suggestion {
       .city-card {
           width: 200px;
           margin: 10px;
           display: flex;
           flex-direction: column;
           justify-content: space-between;

           a {
               color: white;
               text-decoration: none;
           }

           .add-to-rt {
               position: absolute;
               top: -15px;
               z-index: 1;
               right: -17px;
           }
       }
   }

   @media @mobile {
       .cards-container {
           justify-content: center;
       }
   }