   @import "./imports.less";

   .city-suggestion {
       .city-card {
           width: 200px;
           margin: 10px;

           a {
               color: white;
               text-decoration: none;
           }
       }
   }

   @media @mobile {
       .cards-container {
           justify-content: center;
       }
   }