@import (reference) "./imports.less";

.edit-roundtrips {
    padding-top: 10px;

    .q-timeline__dot {
        box-sizing: border-box;
    }

    .add-item .q-expansion-item__toggle-icon {
        display: none;
    }

    .add-button {
        transition: 0.3s;

        &.active {
            transform: rotate(45deg);
        }
    }

    .stop-container {
        display: flex;
        justify-content: space-between;

        .q-chip {
            margin-top: 0;
        }

        .q-icon {
            font-size: 20px;

            &:hover {
                color: @primary-orange;
            }
        }
    }


    .q-tabs {
        height: 72px;
    }

    .q-badge {
        right: -25px;
    }

    .addEntryForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .q-card__section form>div {
        display: flex;
        justify-content: center;
    }

    form>.q-list>div {
        padding-bottom: 30px;
    }

    .galeryImgUploaderContainer {
        display: flex;
        flex-wrap: wrap;

        &>.uploader {
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    .arrival-depature-container>*,
    .flight-container>* {
        padding-bottom: 32px;
    }

}

.daily-trip-list {
    margin-top: 10px;
    margin-bottom: 10px;

    &>div {
        padding: 10px;
    }
}

.daily-trip-container {
    border-left: solid 0.5px @primary-gray;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 10px;

    .divider {
        display: flex;
        flex-wrap: nowrap;

        hr {
            width: 100%;
        }

        span {
            margin-top: -4px;
            padding-left: 5px;
        }
    }

    .q-list {
        margin-top: 10px;
    }
}

.editLocationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-editor,
.q-timeline__content {
    img {
        max-width: 400px;
        height: auto;
    }
}

.mapboxgl-popup-content {
    padding: 0 !important;

    .mapboxgl-popup-close-button {
        z-index: 1;
    }
}

.q-popup-edit {
    min-width: auto !important;
    max-width: 300px !important;
    left: 20px !important;
}

.q-chip__icon {
    font-size: 20px !important;
    margin: 0 !important;
}

.roundtrip-details {
    .q-carousel {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 60vh;
        min-height: 400px;

        .q-btn {
            display: none;
        }

        &:hover {
            .q-btn {
                display: block;
            }
        }
    }

    .carousel-placeholder {
        min-height: 410px;
        height: 60vh;
        top: 0;

        h3 {
            position: absolute;
            padding-left: 10%;
            padding-top: 40px;
            color: white;
            font-size: 60px;
            line-height: 1.1;
        }
    }

    .back-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        position: absolute;
        background-color: white;
        padding: 5px;
        left: -4px;
        border-radius: 5px;
    }
}

.q-timeline__subtitle {
    text-transform: none;
}


.daily-trip-dialog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media @mobile {
    .uploader {
        margin: auto !important;
        margin-bottom: 10px !important;
    }

    .addEntryForm label {
        width: 200px !important;
    }

    .q-stepper label {
        width: 120px !important;
        margin: 0;
    }
}