@import "site.less";

/*top of page > end of page*/
#MainImg,
#MainImgOverlay {
    background: url('../statics/laos.jpg') center fixed;
    width: 100%;
    height: 90vh;
    background-size: cover;
    z-index: -2;
    position: absolute;
    left: 0;
}

#MainImgOverlay {
    background: #b5ac88;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#MainImgPlacholder {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .main-qoute {
        font-size: 50px;
        z-index: 100;
        color: white;
        padding: 0 10% 0 10%;
    }

    .quote-author {
        font-size: 30px;
        font-style: italic;
        z-index: 100;
        color: white;
    }

    .main-search-bar {
        width: 60%;
        height: 50px;
        margin-top: 50px;
        font-size: 30px;
        padding-left: 10px;
        max-width: unset;

        &>div {
            background-color: white;
        }
    }
}

.box-seperator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 30px;
    }
}

.box-seperator-placholder {
    height: 110px;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 100px 0;

    .card-wrap {
        display: flex;
        justify-content: center;
        width: 100%;

        &.left {
            justify-content: flex-end;
        }

        &.right {
            justify-content: flex-start;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 10px 10px 50px 10px;
            background-color: white;
            transition: 0.6s;
            color: @primary-gray;

            &:hover {
                color: @primary-gray;
                transform: scale(1.1);
            }

            h3 {
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 5px;
            }

            span {
                font-size: 18px;
            }

            #VietnamImg {
                background-image: url('../statics/vietnam.jpg');
            }

            #USAImg {
                background-image: url('../statics/goldenGate.jpg');
            }

            #ItalyImg {
                background-image: url('../statics/venice.jpg');
            }

            div {
                height: 200px;
                width: 200px;
                border-radius: 5px;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

.section-img {
    background: url('../statics/venice.jpg') center fixed;
    background-size: cover;
    height: 400px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -2;
}

.section-img-placeholder {
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10% 0 10%;
    font-size: 30px;
}

@media @tablet,
@mobile {
    .card-container {
        flex-wrap: wrap;
        padding: 10px 0 30px 0;

        .card-wrap {
            justify-content: center !important;

            .card {
                margin-bottom: 30px;
            }
        }
    }

    #MainImgPlacholder .main-qoute {
        font-size: 30px;
    }

    .section-img-placeholder {
        font-size: 20px;
    }
}