@import "./imports.less";

/*
top of page > end of page
> media queries 
> keyframes
*/

#flyingPlane {
    display: flex;
    position: absolute;
    z-index: 110;
    -webkit-animation: fly 20s infinite linear;
    -moz-animation: fly 20s infinite linear;
    -ms-animation: fly 20s infinite linear;
    animation: fly 20s infinite linear;

    .plane {
        width: 100px;
        height: 52.1px
    }

    .banner {
        background-color: white;
        white-space: nowrap;
        padding: 0 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .line {
        width: 50px;
        height: 0;
        margin-top: 14px;
        margin-right: -5px;
        border: 1.5px solid @primary-gray;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

#MainImg,
#MainImgOverlay {
    background: url('https://roundtrips4you.de/statics/bagan-1137015_1280.jpg') center fixed;
    width: 100%;
    height: 90vh;
    background-size: cover;
    z-index: -2;
    position: absolute;
    left: 0;
}

#MainImgOverlay {
    background: #b5ac88;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#MainImgPlacholder {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .main-qoute {
        font-size: 50px;
        z-index: 100;
        color: white;
        padding: 0 10% 0 10%;
    }

    .quote-author {
        font-size: 30px;
        font-style: italic;
        z-index: 100;
        color: white;
    }

    .main-search-bar {
        width: 60%;
        height: 50px;
        margin-top: 50px;
        font-size: 30px;
        padding-left: 10px;
        max-width: unset;

        &>div {
            background-color: white;
        }
    }

    .scroll-down-icon {
        height: 100px;
        color: white;

        -webkit-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 100px 0;

    .card-wrap {
        display: flex;
        justify-content: center;
        width: 100%;

        &.left {
            justify-content: flex-end;
        }

        &.right {
            justify-content: flex-start;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 10px 10px 50px 10px;
            background-color: white;
            transition: 0.6s;
            color: @primary-gray;
            text-decoration: none;

            &:hover {
                color: @primary-gray;
                transform: scale(1.1);
            }

            h3 {
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 5px;
            }

            span {
                font-size: 18px;
            }

            #VietnamImg {
                background-image: url("https://images.unsplash.com/photo-1531737212413-667205e1cda7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
            }

            #USAImg {
                background-image: url("https://images.unsplash.com/photo-1445368794737-0cf251429ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
            }

            #ItalyImg {
                background-image: url("https://images.unsplash.com/photo-1514890547357-a9ee288728e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
            }

            div {
                height: 200px;
                width: 200px;
                border-radius: 5px;
                background-position: center;
                background-size: cover;
            }

            .q-icon {
                font-size: 80px;
                color: @primary-orange;
            }
        }
    }
}

.section-img {
    background: center fixed url('https://roundtrips4you.de/statics/venice.jpg');
    background-size: cover;
    height: 500px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -2;
}

.section-img-placeholder {
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10% 0 10%;
    font-size: 30px;
    background-color: rgba(48, 25, 0, 0.11)
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.create-roundtrip-ol {
    font-size: 30px;
    font-family: @primary-number-font;

    h2 {
        font-size: 30px;
        font-family: @primary-font;
        line-height: normal;
    }

    p {
        font-size: 20px;
        line-height: normal;

    }
}

@media @tablet,
@mobile {
    .card-container {
        flex-wrap: wrap;
        padding: 10px 0 30px 0;

        .card-wrap {
            justify-content: center !important;

            .card {
                margin-bottom: 30px;

                &:hover {
                    transform: unset;
                }
            }
        }
    }

    .create-own-btn {
        display: none;
    }

    #MainImgPlacholder {
        .main-qoute {
            font-size: 24px;
            line-height: 2;
        }

        .quote-author {
            font-size: 20px;
        }
    }

    .section-img-placeholder h3 {
        font-size: 20px;
    }

    h4 {
        padding: 0 5px 0 5px;
        font-size: 25px;
    }
}

@-webkit-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: 50px;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: 50px;
    }
}

@-moz-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: 50px;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: 50px;
    }
}

@-ms-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: 50px;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: 50px;
    }
}

@keyframes jump {
    0% {
        padding-top: 30px;
        font-size: 50px;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: 50px;
    }
}

@-webkit-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@-moz-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@-ms-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}