/*
top of page > end of page
> media queries 
> keyframes
*/

@import (reference) "./imports.less";

#flyingPlane {
    display: flex;
    position: absolute;
    z-index: 110;
    -webkit-animation: fly 20s infinite linear;
    -moz-animation: fly 20s infinite linear;
    -ms-animation: fly 20s infinite linear;
    animation: fly 20s infinite linear;

    .plane {
        width: 100px;
        height: 52.1px
    }

    .banner {
        background-color: white;
        white-space: nowrap;
        padding: 0 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .line {
        width: 50px;
        height: 0;
        margin-top: 14px;
        margin-right: -5px;
        border: 1.5px solid @primary-gray;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

#MainImg,
#MainImgOverlay {
    background: url('../statics/bagan-1137015_1280.jpg') center fixed;
    width: 100%;
    height: 90vh;
    background-size: cover;
    z-index: -2;
    position: absolute;
    left: 0;
}

#MainImgOverlay {
    background: #b5ac88;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#MainImgPlacholder {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .main-qoute {
        font-size: @size-very-large;
        z-index: 100;
        color: white;
        padding: 0 10% 0 10%;
        margin-top: 0;
        font-weight: bold;
    }

    .quote-subtext {
        font-size: @size-large;
        z-index: 100;
        color: #fff;
        font-weight: 400;

    }

    .main-search-bar {
        width: 100%;
        height: 50px;
        font-size: @size-large;
        padding-left: 10px;
        max-width: 552px;

        &>div {
            background-color: white;
        }
    }

    .scroll-down-icon {
        height: 100px;
        color: white;

        -webkit-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: jump 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }
}

.description-container {
    font-family: @primary-number-font;
    font-size: @size-medium;
    margin-bottom: 80px;
    margin-top: 40px;
    margin-left: 17px;
    padding-left: 16px;
    border-left: @primary-orange solid;
    animation-delay: 2s;

    @media @desktop {
        opacity: 0;

        &.in-viewport {
            -webkit-animation: fadeInLeft 0.7s ease-in both;
            -moz-animation: fadeInLeft 0.7s ease-in both;
            -ms-animation: fadeInLeft 0.7s ease-in both;
            animation: fadeInLeft 0.7s ease-in both;
        }
    }

    a {
        text-decoration: underline;
    }

    p {
        margin: 5px;
    }
}

#OfferContainer {
    width: 100%;
    color: white;
    margin-top: 100px;

    &>div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: @size-medium;
        width: 50%;
        align-items: center;
        padding: 10px;

        button {
            max-width: 522px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: @size-medium;

            margin-top: 10px;
            opacity: 0;
            -webkit-animation: fadeInUp 0.7s ease-in both;
            -moz-animation: fadeInUp 0.7s ease-in both;
            -ms-animation: fadeInUp 0.7s ease-in both;
            animation: fadeInUp 0.7s ease-in both;
            animation-delay: 0.9s;
        }
    }
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 50px 0;

    .card-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;

        &.left {
            justify-content: flex-end;
        }

        &.right {
            justify-content: flex-start;
        }

        @media @desktop {
            opacity: 0;


            &.in-viewport {
                -webkit-animation: fadeInUp 0.7s ease-in both;
                -moz-animation: fadeInUp 0.7s ease-in both;
                -ms-animation: fadeInUp 0.7s ease-in both;
                animation: fadeInUp 0.7s ease-in both;

                &:nth-child(1) {
                    animation-delay: 0.6s;
                }

                &:nth-child(2) {
                    animation-delay: 0.8s;
                }

                &:nth-child(3) {
                    animation-delay: 1s;
                }

            }
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 10px 10px 50px 10px;
            background-color: white;
            transition: 0.6s;
            color: @primary-gray;
            text-decoration: none;

            &:hover {
                color: @primary-gray;
                transform: scale(1.1);
            }

            h3 {
                font-size: @size-large;
                font-weight: normal;
                margin-bottom: 5px;
            }

            span {
                font-size: @size-medium;
            }

            #PortugalImg {
                background-image: url("../statics/portugal.jpeg");
            }

            #BaliImg {
                background-image: url("../statics/bali.jpeg");
            }

            #ItalyImg {
                background-image: url("../statics/venice.jpeg");
            }

            div {
                height: 200px;
                width: 200px;
                border-radius: 5px;
                background-position: center;
                background-size: cover;
            }

            .q-icon {
                font-size: 80px;
                color: @primary-orange;
            }
        }
    }
}

.section-img {
    background: center fixed url('../statics/venice.jpeg');
    background-size: cover;
    height: 500px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -2;
}

.section-img-placeholder {
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10% 0 10%;
    font-size: @size-large;

    button {

        @media @desktop {
            opacity: 0;

            &.in-viewport {
                -webkit-animation: fadeInUp 0.7s ease-in both;
                -moz-animation: fadeInUp 0.7s ease-in both;
                -ms-animation: fadeInUp 0.7s ease-in both;
                animation: fadeInUp 0.7s ease-in both;
                animation-delay: 0.3s;
            }
        }
    }
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.create-roundtrip-ol {
    font-size: @size-large;
    font-family: @primary-number-font;

    h2 {
        font-size: @size-large;
        font-family: @primary-font;
        line-height: normal;
        text-align: left;
    }

    p {
        font-size: @size-medium;
        line-height: normal;

    }

    &>li {
        @media @desktop {
            opacity: 0;

            &.in-viewport {
                -webkit-animation: fadeInUp 0.7s ease-in both;
                -moz-animation: fadeInUp 0.7s ease-in both;
                -ms-animation: fadeInUp 0.7s ease-in both;
                animation: fadeInUp 0.7s ease-in both;
                animation-delay: 0.3s;
            }
        }

        &>div:nth-child(2) {
            justify-content: center;
            display: flex;
            width: 100%;
        }
    }
}

@media @tablet,
@mobile {
    .card-container {
        flex-wrap: wrap;
        padding: 10px 0 30px 0;

        .card-wrap {
            justify-content: center !important;

            .card {
                margin-bottom: 30px;

                &:hover {
                    transform: unset;
                }
            }
        }
    }

    #MainImgPlacholder {
        .main-qoute {
            font-size: 24px;
            line-height: 2;
        }

        .quote-subtext {
            display: none;
        }

        button {
            font-size: 15px !important;
        }
    }

    #OfferContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        &>div:nth-child(2) {
            margin-top: 30px;
            border-top: solid 1px;
            padding-top: 30px;
        }
    }

    .section-img-placeholder h3 {
        font-size: @size-medium;
    }

    h4 {
        padding: 0 5px 0 5px;
        font-size: 25px;
    }
}

@media @mobile {
    #OfferContainer>div {
        width: 100%;

        &:nth-child(2) {
            display: none;
        }
    }
}

@-webkit-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: @size-very-large;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: @size-very-large;
    }
}

@-moz-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: @size-very-large;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: @size-very-large;
    }
}

@-ms-keyframes jump {
    0% {
        padding-top: 30px;
        font-size: @size-very-large;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: @size-very-large;
    }
}

@keyframes jump {
    0% {
        padding-top: 30px;
        font-size: @size-very-large;
    }

    50% {
        padding-top: 90px;
        font-size: 55px;
    }

    100% {
        padding-top: 30px;
        font-size: @size-very-large;
    }
}

@-webkit-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@-moz-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@-ms-keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@keyframes fly {
    0% {
        padding-top: 30px;
        left: -355px;
    }

    10% {
        padding-top: 40px;
    }


    20% {
        padding-top: 10px;
    }

    50% {
        padding-top: 30px;
        left: 80%;
    }

    60% {
        padding-top: 30px;
        left: 105%;
    }

    100% {
        padding-top: 30px;
        left: 105%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-90%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}