@primary-orange: #D56026;
@primary-gray: #707070;

.map {
    .mapboxgl-popup-content {
        padding: 0 !important;

        .mapboxgl-popup-close-button {
            z-index: 1;
        }
    }

    a {
        color: @primary-gray;
        cursor: pointer;

        &:hover {
            color: @primary-orange;
        }
    }

    .mapboxgl-ctrl-geocoder {
        width: 10px;
    }

    .q-drawer {
        z-index: 2 !important;
    }
}