@import "site.less";

.roundtrips {
    text-align: center;
    align-content: center;
    align-items: center;

    h2 {
        font-size: 30px;
    }

    .topic {
        background-color: white;
        padding: 20px 0 20px 0;
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
    }

    #CardBackgroundImg {
        background: url('../statics/travel-background.jpg') fixed center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -2;
        opacity: 0.35;
    }

    #CardBackgroundImgPlaceholder, #RoundtripCardBackgroundImgPlaceholder {
        width: 100%;
        min-height: 100vh;
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 115px;

        .country-card-container {
            width: 470px;
            display: flex;
            justify-content: center;
            padding: 20px 0 20px 0;

            .country-card {
                width: 230px;
                background: center url('../statics/travel-background.jpg');
                background-size: cover;
                height: 230px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                text-align: center;
                align-items: center;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.6s;

                &:hover {
                    transform: scale(1.1);
                }

                .country-title {
                    color: white;
                    text-transform: uppercase;
                }

                button, .button {
                    font-size: 22px;
                    margin-bottom: 20px;

                    &:hover {
                        transform: none;
                    }
                }
            }
        }

        .filter-container {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            padding-top: 20px;


            .fliter-card {
                height: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin-bottom: 20px;
                background-color: white;

                &>*:not(a) {
                    margin: 0 0 10px 0;
                }

                input, select {
                    font-size: 20px;
                }

                h2 {
                    text-align: left;
                    color: @primary-orange;
                }

                a {
                    border-color: @primary-orange;
                    background-color: transparent;
                    color: @primary-orange;
                    font-size: 20px;
                }

                .input-item {
                   font-size: 20px;
                   border-radius: 4px;
                  
                   &::before {
                       border: 1px solid rgba(0,0,0,0.24);
                    }
                }

                .filter-expansion {
                 font-size: 18px;
                 

                .q-item {
                   background-color: #999;
                   color:white;

                   .material-icons {
                       color:white;
                   }
                }

                .q-expansion-item__content {
                  display: flex;
                  flex-direction: column;
                  padding: 0 10px 0 10px
                }
            }
            }
        }

        .roundtrip-cards-container {
            display: flex;
            flex-direction: column;
            width: 80%;

            .roundtrip-card-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                height: 280px;
                margin-bottom: 10px;
                padding-top: 20px;

                .roundtrip-card {
                    width: 90%;
                    max-width: 1200px;
                    height: 230px;
                    display: flex;
                    padding: 20px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    transition: 0.6s;
                    background-color: white;
                    justify-content: space-between;


                    &:hover {
                        transform: scale(1.03);
                    }

                    .card-left-col {
                        width: 250px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        .card-image {
                            height: 230px;
                            width: 230px;
                            background-position: center;
                            background-size: cover;
                            background-image: url('http://www.ultimatesource.toys/wp-content/uploads/2013/11/dummy-image-landscape-1-1024x800.jpg')
                        }
                    }

                    .card-center-col {
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        align-items: flex-start;
                        justify-content: space-between;

                        .card-row, .card-bottom-row {
                            display: flex;
                            height: 50px;

                            * {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding-right: 5px;
                            }

                            .stars {
                                color: gold;
                                margin: auto;
                                width: auto;
                                display: flex;
                                flex-direction: row;
                                padding-left: 5px;
                            }

                            .marker {
                                padding-left: 10px;
                                width: 50px;
                                margin: auto;
                            }

                            .card-tag, .card-category {
                                color: white;
                                background-color: @primary-gray;
                                border-radius: 20px;
                                padding: 2px 5px 2px 5px;
                                height: 25px;
                                margin: auto;
                                margin-right: 5px;
                            }

                            .card-category {
                                text-transform: capitalize;
                            }

                            .card-days, .card-hotels {
                                font-family: @primary-number-font;
                            }
                        }
                    }

                    .card-right-col {
                        width: 13%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .card-row, .card-bottom-row {
                            align-items: flex-end;
                            text-align: right;
                        }

                        .advertiser-logo {
                            height: 50px;
                        }

                        .details-button {
                            border-color: @primary-orange;
                            color: @primary-orange;
                            background-color: white;
                            font-family: @primary-number-font;

                            span {
                                font-size: 18px;
                                padding: 0 2px 0 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @tablet, @mobile {
    .roundtrip-card {
        flex-direction: column;
        align-items: center;
        height: auto !important;

        & > div {
            width: 100% !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .card-center-col {
            .card-bottom-row {
                flex-wrap: wrap;
                justify-content: center;

                .card-tag {
                    margin: 5px !important;
                }
            }
        }

        .card-right-col {
            padding-top: 20px;
            display: flex !important;
            flex-direction: row !important;

            .card-row {
                padding-right: 10px;
            }
        }
    }

    .filter-container {
        width: 100% !important;
    }

    .roundtrip-cards-container {
        width: 100% !important;

        .roundtrip-card-container {
            height: auto !important;
        }
    }
}

.q-inner-loading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top:117px;
}

.country-card-container {
    box-sizing: unset;
}
